<nav class="navbar">
    <div class="icon-container">
        <a href="/">
            <img src="images/logo.png" alt="logo"> 
        </a>
        
        <ul>
            <li><a href="/"><img src="images/icons/home-run.svg" alt="home"></a></li>
            <li><a href="/settings"><img src="images/icons/manage.svg" alt="settings"></a></li>
            <li><a href="/notifications"><img src="images/icons/notification.svg" alt="notifications"></a></li>
            <li><a href="/logs"><img src="images/icons/log.svg" alt="logs"></a></li>
        </ul>

        <a href="#"><img src="images/icons/logout.svg" alt="logout"></a>
    </div>
</nav>