<header class="topbar responsive-topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header">
            <a class="navbar-brand" href="">
                <b>
                    <img src="images/logo-icon.png" alt="homepage" class="dark-logo" />
                </b>
                <span>
                    <img src="images/logo-text.png" alt="homepage" class="dark-logo" />
                </span>
            </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up " href="javascript:void(0)"><i
                            class="fa fa-bars"></i></a> </li>
            </ul>
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down "
                        href="javascript:void(0)">
                    </a>
                    <form class="app-search">
                        <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i
                                class="fa fa-times"></i></a>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#"><img src="images/user.png" alt="user" class="profile-pic" /></a>
                </li>
            </ul>
        </div>
    </nav>
</header>