<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> <a class="" href="/" aria-expanded="false"><i class="fa fa-tachometer"></i><span
                            class="hide-menu">Dashboard</span></a></li>
                <li> <a class="" href="/settings" aria-expanded="false"><i class="fa fa-tachometer"></i><span
                            class="hide-menu">Settings</span></a></li>
                <li> <a class="" href="/notifications" aria-expanded="false"><i class="fa fa-tachometer"></i><span
                            class="hide-menu">Alerts</span></a></li>
                <li> <a class="" href="/logs" aria-expanded="false"><i class="fa fa-tachometer"></i><span
                            class="hide-menu">Logs</span></a></li>
                <li> <a class="" href="/account" aria-expanded="false"><i class="fa fa-tachometer"></i><span
                            class="hide-menu">My Account</span></a></li>
                            <li> <a class="" href="/signout" aria-expanded="false"><i class="fa fa-tachometer"></i><span
                                class="hide-menu">Signout</span></a></li>
            </ul>
            <div class="text-center m-t-30">

            </div>
        </nav>
    </div>
</aside>