<template id="news-template">
    <a href="#">
        <div class="user-img news-item-image">
            <span class="profile-status busy pull-right"></span>
        </div>
        <div id="news-container" class="mail-contnet">
            <h5 class="news-item-title">Title</h5> <span class="mail-desc news-item-description">Description</span>
        </div>
    </a>
</template>
<script src="js/script.js"></script>
<script src="js/navigation.js"></script>
<script src="js/charts.js"></script>
<script src="js/info.js"></script>
</body>
</html>