    
        <div class="welcome">
            <div class="user_msg">
                <h2>Hey User!!!!!</h2>
                
                <p>Welcome to HOMIEEEE</p>
            </div>
            <div class="weather_block">
                <div class="find">
                    <span id="error"></span>
                    <input type="text" name="city" id="city" placeholder="City Name">
                    <button id="submitCity" class="myButton">Find</button>
                </div>
                <div id="show"></div>
            </div>
        </div>