<%- include ('partials/head.ejs') %>
<div id="main-wrapper">
    <%- include ('partials/navbar.ejs') %>
    <%- include ('partials/sidebar.ejs') %>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">My Account</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-xlg-3">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="images/user.png" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="font-normal">User</h3>
                            <p class="m-b-0 m-t-20">Home Monitoring System dashboard For IMS winter semester.</p>
                            <div class="d-flex m-t-20">
                                <button class="btn p-l-0 btn-link ">Signout</button>
                                <div class="ml-auto align-self-center">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-xlg-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <h4 class="card-title"><span class="lstick"></span>Account History</h4>
                                <ul class="list-inline m-b-0 ml-auto">
                                    <li>
                                        <h6 class="text-muted text-success"><i
                                                class="fa fa-circle font-10 m-r-10 "></i>Last Month</h6>
                                    </li>
                                    <li>
                                        <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10"></i>This
                                            Month</h6>
                                    </li>
                                </ul>
                            </div>
                            <div class="website-visitor p-relative m-t-30" style="width:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-place-holder"></div>
        </div>
        <footer class="footer"></footer>
    </div>
</div>
<%- include ('partials/tail.ejs') %>