<%- include ('partials/head.ejs') %>
<div id="main-wrapper">
    <%- include ('partials/navbar.ejs') %>
    <%- include ('partials/sidebar.ejs') %>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Dashboard</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><span class="lstick"></span>Light</h4>
                            <div id="lightBody" class="reading-body"></div>
                            <table class="table vm font-14">
                                <tr>
                                    <td class="b-0">Current Reading</td>
                                    <td class="text-right font-medium b-0">
                                        <div id="lightElement">0</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><span class="lstick"></span>Humidity</h4>
                            <div id="humidityBody" class="reading-body"></div>
                            <table class="table vm font-14">
                                <tr>
                                    <td class="b-0">Current Reading</td>
                                    <td class="text-right font-medium b-0">
                                        <div id="humidityElement">0</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><span class="lstick"></span>Temperature</h4>
                            <div id="temperatureBody" class="reading-body"></div>
                            <table class="table vm font-14">
                                <tr>
                                    <td class="b-0">Mobile</td>
                                    <td class="text-right font-medium b-0">
                                        <div id="thermElement">0</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><span class="lstick"></span>Motion</h4>
                            <div id="motionBody" class="reading-body"></div>
                            <table class="table vm font-14">
                                <tr>
                                    <td class="b-0">Current Reading</td>
                                    <td class="text-right font-medium b-0">
                                        <div id="motionElement">0</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>



            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <h4 class="card-title"><span class="lstick"></span>Headline News</h4>
                            </div>
                            <div class="message-box contact-box">
                                <div id="news-container" class="message-widget contact-widget">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <h3 class="card-title m-b-5"><span class="lstick"></span>Weather</h3>
                                </div>
                                <div class="ml-auto">
                                    <select class="custom-select b-0">
                                        <option selected="">London ON</option>
                                        <option value="1">Sarnia ON</option>
                                    </select>
                                </div>
                            </div>
                            <div id="weather-icon" style="height:100px; width:100%;"></div>
                            <table class="table vm font-14">
                                <tr>
                                    <td class="b-0" id="weather-reading"></td>
                                    <td class="text-right font-medium b-0">
                                        <div></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="b-0" id="weather-reading">Current</td>
                                    <td class="text-right font-medium b-0">
                                        <div id="weather-temp"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="b-0" id="weather-reading">Feels Like</td>
                                    <td class="text-right font-medium b-0">
                                        <div id="weather-feel"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>



            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <h3 class="card-title m-b-5"><span class="lstick"></span>Graphs</h3>
                                </div>
                                <div class="ml-auto">
                                    <select class="custom-select b-0">
                                        <option selected="">This Year</option>
                                        <option value="1">Last Month</option>
                                    </select>
                                </div>
                            </div>
                            <div id="overview" class="p-relative" style="height:360px;"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer class="footer"></footer>
    </div>
</div>
<%- include ('partials/tail.ejs') %>