<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon.png">
    <title>Homie</title>
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
</head>

<body class="fix-header fix-sidebar card-no-border">
    <div id="main-wrapper">
       
        <header class="topbar">
            <!--
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">
                        <b>
                            <img src="images/logo-icon.png" alt="homepage" class="dark-logo" />
                        </b>
                        <span>
                            <img src="images/logo-text.png" alt="homepage" class="dark-logo" />
                        </span>
                    </a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up " href="javascript:void(0)"><i
                                    class="fa fa-bars"></i></a> </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down "
                                href="javascript:void(0)">
                            </a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a
                                    class="srh-btn"><i class="fa fa-times"></i></a>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#"><img src="images/user.png" alt="user"
                                    class="profile-pic" /></a>
                        </li>
                    </ul>
                </div>
            </nav>
        -->
        </header>
        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="" href="" aria-expanded="false"><i class="fa fa-tachometer"></i><span
                                    class="hide-menu">Dashboard</span></a></li>
                        <li> <a class="" href="" aria-expanded="false"><i class="fa fa-tachometer"></i><span
                                    class="hide-menu">Settings</span></a></li>
                        <li> <a class="" href="" aria-expanded="false"><i class="fa fa-tachometer"></i><span
                                    class="hide-menu">Alerts</span></a></li>
                        <li> <a class="" href="" aria-expanded="false"><i class="fa fa-tachometer"></i><span
                                    class="hide-menu">Log</span></a></li>
                        <li> <a class="" href="" aria-expanded="false"><i class="fa fa-tachometer"></i><span
                                    class="hide-menu">Signout</span></a></li>
                    </ul>
                    <div class="text-center m-t-30">

                    </div>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Dashboard</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><span class="lstick"></span>Light</h4>
                                <div id="lightBody" style="height:250px; width:100%;"></div>
                                <table class="table vm font-14">
                                    <tr>
                                        <td class="b-0">Current Reading</td>
                                        <td class="text-right font-medium b-0">
                                            <div id="lightElement">0</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><span class="lstick"></span>Humidity</h4>
                                <div id="humidityBody" style="height:250px; width:100%;"></div>
                                <table class="table vm font-14">
                                    <tr>
                                        <td class="b-0">Current Reading</td>
                                        <td class="text-right font-medium b-0">
                                            <div id="humidityElement">0</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><span class="lstick"></span>Temperature</h4>
                                <div id="temperatureBody" style="height:250px; width:100%;"></div>
                                <table class="table vm font-14">
                                    <tr>
                                        <td class="b-0">Mobile</td>
                                        <td class="text-right font-medium b-0">
                                            <div id="thermElement">0</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><span class="lstick"></span>Motion</h4>
                                <div id="motionBody" style="height:250px; width:100%;"></div>
                                <table class="table vm font-14">
                                    <tr>
                                        <td class="b-0">Current Reading</td>
                                        <td class="text-right font-medium b-0">
                                            <div id="motionElement">0</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h3 class="card-title m-b-5"><span class="lstick"></span>Graphs</h3>
                                    </div>
                                    <div class="ml-auto">
                                        <select class="custom-select b-0">
                                            <option selected="">This Year</option>
                                            <option value="1">Last Month</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="overview" class="p-relative" style="height:360px;"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h4 class="card-title"><span class="lstick"></span>Notification Alerts</h4>
                                    </div>
                                </div>
                                <div class="table-responsive m-t-20">
                                    <table class="table vm no-th-brd no-wrap pro-of-month">
                                        <thead>
                                            <tr>
                                                <th colspan="1">No. Messages</th>
                                                <th>Messages</th>
                                                <th>Timestamps</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="width:50px;"><span class="round"><b>1</b></span></td>
                                                <td>
                                                    <span class="mail-desc">There's an indication of storm by 5:00
                                                        PM.</span>
                                                </td>
                                                <td>2:30pm 21/5/2016</td>
                                            </tr>
                                            <tr>
                                                <td style="width:50px;"><span class="round"><b>1</b></span></td>
                                                <td>
                                                    <span class="mail-desc">There's an indication of storm by 5:00
                                                        PM.</span>
                                                </td>
                                                <td>2:30pm 21/5/2016</td>
                                            </tr>
                                            <tr>
                                                <td style="width:50px;"><span class="round"><b>1</b></span></td>
                                                <td>
                                                    <span class="mail-desc">There's an indication of storm by 5:00
                                                        PM.</span>
                                                </td>
                                                <td>2:30pm 21/5/2016</td>
                                            </tr>
                                            <tr>
                                                <td style="width:50px;"><span class="round"><b>1</b></span></td>
                                                <td>
                                                    <span class="mail-desc">There's an indication of storm by 5:00
                                                        PM.</span>
                                                </td>
                                                <td>2:30pm 21/5/2016</td>
                                            </tr>
                                            <tr>
                                                <td style="width:50px;"><span class="round"><b>1</b></span></td>
                                                <td>
                                                    <span class="mail-desc">There's an indication of storm by 5:00
                                                        PM.</span>
                                                </td>
                                                <td>2:30pm 21/5/2016</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-lg- col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h4 class="card-title"><span class="lstick"></span>Notification Logs</h4>
                                </div>
                                <div class="message-box contact-box">
                                    <div class="message-widget contact-widget">
                                        <a href="#">
                                            <div class="user-img"> <img src="images/weather.png" alt="user"
                                                    class="img-circle"> <span
                                                    class="profile-status busy pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Weather</h5> <span class="mail-desc">There's an indication of storm
                                                    by 5:00 PM.</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="user-img"> <img src="images/weather.png" alt="user"
                                                    class="img-circle"> <span
                                                    class="profile-status busy pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Weather</h5> <span class="mail-desc">There's an indication of storm
                                                    by 5:00 PM.</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="user-img"> <img src="images/weather.png" alt="user"
                                                    class="img-circle"> <span
                                                    class="profile-status busy pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Weather</h5> <span class="mail-desc">There's an indication of storm
                                                    by 5:00 PM.</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="user-img"> <img src="images/weather.png" alt="user"
                                                    class="img-circle"> <span
                                                    class="profile-status busy pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Weather</h5> <span class="mail-desc">There's an indication of storm
                                                    by 5:00 PM.</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="user-img"> <img src="images/weather.png" alt="user"
                                                    class="img-circle"> <span
                                                    class="profile-status busy pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Weather</h5> <span class="mail-desc">There's an indication of storm
                                                    by 5:00 PM.</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xlg-3">
                        <div class="card">
                            <img class="card-img-top img-responsive" src="images/user.png" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="font-normal">User</h3>
                                <p class="m-b-0 m-t-20">Home Monitoring System dashboard For IMS winter semester.</p>
                                <div class="d-flex m-t-20">
                                    <button class="btn p-l-0 btn-link ">Signout</button>
                                    <div class="ml-auto align-self-center">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xlg-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h4 class="card-title"><span class="lstick"></span>Weather History</h4>
                                    <ul class="list-inline m-b-0 ml-auto">
                                        <li>
                                            <h6 class="text-muted text-success"><i
                                                    class="fa fa-circle font-10 m-r-10 "></i>Last Month</h6>
                                        </li>
                                        <li>
                                            <h6 class="text-muted text-info"><i
                                                    class="fa fa-circle font-10 m-r-10"></i>This Month</h6>
                                        </li>
                                    </ul>
                                </div>
                                <div class="website-visitor p-relative m-t-30" style="width:100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer"></footer>
        </div>
    </div>
    <script src="js/navigation.js"></script>
    <script src="js/charts.js"></script>
</body>

</html>