<%- include ('partials/head.ejs') %>
<%- include ('partials/menu.ejs') %> 
    <div id="main_container">
        <%- include ('partials/userWelcome.ejs') %>                
            <h1 class="page-head">Notification Logs:</h1>

            <div class="notification_table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Messages</th>
                            <th>Timestamps</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Movement detected in the house.</td>
                            <td>2:30pm 21/5/2016</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Movement detected in the house.</td>
                            <td>2:30pm 21/5/2016</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Movement detected in the house.</td>
                            <td>2:30pm 21/5/2016</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Movement detected in the house.</td>
                            <td>2:30pm 21/5/2016</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Movement detected in the house.</td>
                            <td>2:30pm 21/5/2016</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Movement detected in the house.</td>
                            <td>2:30pm 21/5/2016</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Movement detected in the house.</td>
                            <td>2:30pm 21/5/2016</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Movement detected in the house.</td>
                            <td>2:30pm 21/5/2016</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Movement detected in the house.</td>
                            <td>2:30pm 21/5/2016</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Movement detected in the house.</td>
                            <td>2:30pm 21/5/2016</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
<%- include ('partials/tail.ejs') %> 