<%- include ('partials/head.ejs') %>
<%- include ('partials/menu.ejs') %> 
    <div id="main_container">
        <%- include ('partials/userWelcome.ejs') %>

        <h1>Notification Alerts :</h1>

        <div class="cards_collection">
            <div class="card">
                <h3>Weather:</h3>
                <p>There's an indication of storm by 5:00 PM.</p>
            </div>
            <div class="card">
                <h3>Weather:</h3>
                <p>There's an indication of storm by 5:00 PM.</p>
            </div>
            <div class="card">
                <h3>Weather:</h3>
                <p>There's an indication of storm by 5:00 PM.</p>
            </div>
            <div class="card">
                <h3>Weather:</h3>
                <p>There's an indication of storm by 5:00 PM.</p>
            </div>
            <div class="card">
                <h3>Weather:</h3>
                <p>There's an indication of storm by 5:00 PM.</p>
            </div>
            <div class="card">
                <h3>Weather:</h3>
                <p>There's an indication of storm by 5:00 PM.</p>
            </div>
            <div class="card">
                <h3>Weather:</h3>
                <p>There's an indication of storm by 5:00 PM.</p>
            </div><div class="card">
                <h3>Weather:</h3>
                <p>There's an indication of storm by 5:00 PM.</p>
            </div><div class="card">
                <h3>Weather:</h3>
                <p>There's an indication of storm by 5:00 PM.</p>
            </div>
        </div>
    </div>

<%- include ('partials/tail.ejs') %> 