* {
  padding: 0;
  margin: 0; }

body {
  background-color: #464242;
  font-family: 'Roboto', Arial, Helvetica, sans-serif; }

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #container .app {
    width: 70%;
    margin: 0 auto;
    height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 25px; }
    #container .app .navbar {
      width: 10%;
      background-color: #73D601;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      min-width: 80px; }
      #container .app .navbar .icon-container {
        width: 55%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
      #container .app .navbar img {
        width: 30%;
        min-width: 40px;
        padding-left: 4px; }
      #container .app .navbar ul {
        display: flex;
        flex-direction: column;
        margin: 0 auto; }
        #container .app .navbar ul img {
          padding-bottom: 10px; }
    #container .app #main_container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      width: 85%;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px; }
      #container .app #main_container .welcome {
        background-color: #beb9b9;
        width: 100%;
        height: 80px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px; }
        #container .app #main_container .welcome h2 {
          margin-bottom: 7px; }
      #container .app #main_container #sensors {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%; }
        #container .app #main_container #sensors .sensor {
          width: 30%;
          border: 1px solid black;
          border-radius: 10px;
          padding: 10px;
          height: 150px;
          margin: 10px 10px;
          box-sizing: border-box; }
      #container .app #main_container .graph {
        width: 100%;
        height: 130px;
        border: 1px black dotted;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box; }
      #container .app #main_container .page-head {
        padding: 10px 0; }
      #container .app #main_container .notification_table {
        min-height: 265px;
        padding: 0 0 10px 0;
        overflow: auto; }
        #container .app #main_container .notification_table table {
          width: 100%;
          overflow: auto;
          border: none; }
          #container .app #main_container .notification_table table tr {
            height: 30px;
            text-align: center; }
            #container .app #main_container .notification_table table tr th {
              background-color: #444;
              color: #fff; }
          #container .app #main_container .notification_table table tr:nth-child(even) {
            background-color: #ccc; }
      #container .app #main_container .cards_collection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 255px;
        background-color: white;
        padding: 10px 10px 10px 0;
        overflow: auto; }
        #container .app #main_container .cards_collection .card {
          width: 80%;
          border: 1px black solid;
          border-radius: 10px;
          padding: 10px;
          margin-bottom: 10px; }
    #container .app #main_container.settings {
      display: flex;
      flex-direction: column;
      justify-content: initial; }
      #container .app #main_container.settings .controls {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 284px; }
        #container .app #main_container.settings .controls .control_card {
          width: 50%;
          margin-right: 10px;
          padding: 10px;
          border-radius: 15px;
          border: 1px solid #ccc; }
        #container .app #main_container.settings .controls .set_levels {
          display: flex;
          flex-direction: column;
          width: 50%; }
          #container .app #main_container.settings .controls .set_levels .level_temp {
            /*width: 50%;*/
            height: 60%;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 15px;
            border: 1px solid #ccc; }
            #container .app #main_container.settings .controls .set_levels .level_temp h4 {
              margin-top: 0; }
            #container .app #main_container.settings .controls .set_levels .level_temp .slidecontainer p {
              line-height: 2.8; }
          #container .app #main_container.settings .controls .set_levels .level_roomname {
            height: 50%;
            width: 100%;
            /*width: 30%;*/
            border-radius: 10px;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            margin-top: 10px; }
            #container .app #main_container.settings .controls .set_levels .level_roomname label {
              font-weight: bold;
              display: inline-block;
              margin-bottom: 10px; }
            #container .app #main_container.settings .controls .set_levels .level_roomname input {
              height: 28px; }
            #container .app #main_container.settings .controls .set_levels .level_roomname input[type="text"] {
              width: 70%;
              padding-left: 5px;
              box-sizing: border-box; }
            #container .app #main_container.settings .controls .set_levels .level_roomname input[type="submit"] {
              margin-left: 10px;
              width: 60px; }
        #container .app #main_container.settings .controls h4 {
          padding-bottom: 10px;
          margin-top: 20px; }
    #container .app #login_page {
      width: 80%;
      display: flex;
      flex-direction: row;
      margin: 20px auto;
      border-radius: 25px; }
      #container .app #login_page .login_logo {
        background-color: chartreuse;
        width: 50%;
        max-width: 355px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 25px; }
        #container .app #login_page .login_logo img {
          width: 53%;
          min-width: 150px;
          align-self: center; }
      #container .app #login_page .login_form, #container .app #login_page .register_form {
        padding: 10px;
        background-color: darkgray;
        text-align: center;
        box-sizing: border-box;
        width: 50%;
        max-width: 355px;
        border-radius: 25px; }
        #container .app #login_page .login_form input[type="text"], #container .app #login_page .login_form input[type="password"], #container .app #login_page .register_form input[type="text"], #container .app #login_page .register_form input[type="password"] {
          width: 80%;
          padding: 5px;
          display: block;
          margin: 7px auto;
          outline: none;
          border: none; }
        #container .app #login_page .login_form h2, #container .app #login_page .register_form h2 {
          margin-top: 20px; }
      #container .app #login_page .register_form {
        display: none;
        box-sizing: border-box; }

@media only screen and (max-width: 800px) {
  #login_page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; } }
.button3 {
  display: inline-block;
  padding: .8em 2.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #000;
  background-color: #fa802e;
  text-align: center;
  transition: all 0.2s;
  font-weight: bold; }

.button3:hover {
  background-color: #FF6803;
  cursor: pointer; }

@media only screen and (max-width: 30em) {
  .button3 {
    display: block;
    margin: 0.2em auto; } }
.onoffswitch {
  position: relative;
  width: 64px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 24px;
  padding: 0;
  line-height: 24px;
  border: 2px solid #E3E3E3;
  border-radius: 24px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in; }

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 24px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 38px;
  border: 2px solid #E3E3E3;
  border-radius: 24px;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #FF6803; }

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #FF6803; }

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; }

.slidecontainer {
  width: 100%; }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #999;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url("../images/icons/newmenu.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: url("../images/icons/newmenu.png");
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
