@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/*.left-sidebar {
    z-index: 51;
}*/

.responsive-topbar {
    display: block;
}


.image-cropper {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.image-cropper img {
    display: inline;
}

.news-item-image {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    background-size: contain;
    margin: auto !important;
    vertical-align: middle;
}

#weather-icon {
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.reading-body {
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 100%;
    opacity: 0.6;
}

.page-place-holder {
    height: 500px;
    width: 100%;
}

#lightBody {
    background-image: url('../images/bulb.png');
}

#humidityBody {
    background-image: url('../images/humidity.png');
}

#temperatureBody {
    background-image: url('../images/temperature.png');
}

#motionBody {
    background-image: url('../images/motion.png');
}

.sensor-reading {
    font-size: 21px;
    font-weight: 700;
}

.sensor-reading em{
    color:rgb(194, 5, 5);
}

.sensor-reading i{
    color:rgb(196, 196, 196);
}

@media (min-width: 768px) {
    .responsive-topbar {
        display: none;
    }

    .left-sidebar {
        z-index: 51;
    }
}